body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    flex-basis: 30%;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.links a:hover {
    color: #555;
}
