<!DOCTYPE html>

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>로그인</h2>
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <button type="submit">로그인</button>
        </form>
        <div class="links">
            <a href="/forgot">아이디/비밀번호 찾기</a>
            <a href="create_account.html">회원가입</a>
        </div>
    </div>
</body>
</html>
